<div
  id="main-content"
  style="display: flex; flex-direction: column; width: 100%"
>
  <h1 style="margin-bottom: 0">
    Filters will be retained when you navigate to another page
  </h1>

  <div *ngIf="loading">
    <div style="display: flex; width: 100%; justify-content: center">
      <uiowa-ring></uiowa-ring>
    </div>
  </div>

  <div
    *ngIf="!loading"
    style="display: flex; flex-grow: 1; flex-direction: column"
  >
    <div class="grid-interaction">
      <button type="button" (click)="clearAllFilters()">
        Clear All Filters
      </button>
    </div>

    <div style="display: flex; flex-grow: 1">
      <ag-grid-angular
        style="width: 100%"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
