:host {
  display: flex;
  height: 100%;
}

.grid-interaction {
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: flex-end;
}
.grid-interaction button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
}
